@model tahsinERP.Models.P_WRHS_INCOMES
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (tahsinERP.Models.RoleHelper.IsChangePermitted(User.Identity.Name, "WHOperations"))
{
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-12 mb-2 mt-1">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb rounded-pill breadcrumb-divider">
                                    <li class="breadcrumb-item">
                                        <a href="~/Home"><i class="bx bx-home-alt"></i></a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="~/WhIncome/Index">Kirimlar</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        Kirim qilish
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <section id="form-repeater-wrapper">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">
                                        Repeating Forms
                                    </h4>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        @using (Html.BeginForm("Create", "WhIncome", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form repeater-default" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div data-repeater-list="GroupA">
                                                <div data-repeater-item>
                                                    <div class="row justify-content-between">
                                                        <div class="col-md-2 col-sm-12 form-group">
                                                            <label for="DocNo">DocNo</label>
                                                            @Html.TextBoxFor(model => model.DocNo, new { @type = "text", @class = "form-control", @id = "DocNo", @name = "GroupA[0].DocNo", @placeholder = "DocNo kiriting" })
                                                        </div>
                                                        <div class="col-md-2 col-sm-12 form-group">
                                                            <label for="WhID">Qismni tanlang</label>
                                                            @Html.DropDownList("WHID", (SelectList)ViewBag.Wrhs, new { @name = "GroupA[0]", @id = "WhId", @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.WHID, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-md-2 col-sm-12 form-group">
                                                            <label for="WhID">Invoiceni tanlang</label>
                                                            @Html.DropDownList("InvoiceID", (SelectList)ViewBag.Invoice, new { @name = "GroupA[0]", @id = "InvoiceId", @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.InvoiceID, "", new { @class = "text-danger" })
                                                        </div>
                                                        @*<div class="col-md-2 col-sm-12 form-group">
                                                            <label for="WbID">Waybiillni tanlang</label>
                                                            @Html.DropDownList("WaybillID", (SelectList)ViewBag.Invoice, new { @name = "GroupA[0]", @id = "WbID", @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.WaybillID, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-md-2 col-sm-12 form-group">
                                                            <label for="Amount">Amount</label>
                                                            @Html.TextBoxFor(model => model.Amount, new { @type = "text", @class = "form-control", @id = "Amount", @name = "GroupA[0].DocNo", @placeholder = "Amountni kiriting" })
                                                        </div>
                                                        <div class="col-md-2 col-sm-12 form-group">
                                                            <label for="Currency">Currency</label>
                                                            @Html.TextBoxFor(model => model.Currency, new { @type = "text", @class = "form-control", @id = "Currency", @name = "GroupA[0].DocNo", @placeholder = "Currencyni kiriting" })
                                                        </div>
                                                        <div class="col-md-2 col-sm-12 form-group">
                                                            <label for="TotalPrice">Total Price</label>
                                                            @Html.TextBoxFor(model => model.TotalPrice, new { @type = "text", @class = "form-control", @id = "TotalPrice", @name = "GroupA[0].DocNo", @placeholder = "Total-Priceni kiriting" })
                                                        </div>
                                                        <div class="col-md-2 col-sm-12 form-group">
                                                            <label for="Description">Description</label>
                                                            @Html.TextBoxFor(model => model.Description, new { @type = "text", @class = "form-control", @id = "Description", @name = "GroupA[0].DocNo", @placeholder = "Descriptionni kiriting" })
                                                        </div>
                                                        <div class="col-md-2 col-sm-12 form-group">
                                                            <label for="Description">Description</label>
                                                            @Html.TextBoxFor(model => model.Description, new { @type = "text", @class = "form-control", @id = "Description", @name = "GroupA[0].DocNo", @placeholder = "Descriptionni kiriting" })
                                                        </div>
                                                        <div class="col-md-2 col-sm-12 form-group">
                                                            @Html.EditorFor(model => model.IssueDateTime, new { htmlAttributes = new { @class = "form-control pickadate-months-year " } })
                                                            @Html.ValidationMessageFor(model => model.IssueDateTime, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-md-2 col-sm-12 form-group">
                                                            <label for="SenderWHID">SenderWHID tanlang</label>
                                                            @Html.DropDownList("WaybillID", (SelectList)ViewBag.Invoice, new { @name = "GroupA[0]", @id = "SenderWHID", @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.SenderWHID, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-md-2 col-sm-12 form-group">
                                                            <label for="RecieveStatus">RecieveStatusni kiriting</label>
                                                            @Html.TextBoxFor(model => model.RecieveStatus, new { @type = "text", @class = "form-control", @id = "RecieveStatus", @name = "GroupA[0].DocNo", @placeholder = "RecieveStatusni kiriting" })
                                                        </div>*@

                                                        <div class="col-md-2 col-sm-12 form-group d-flex align-items-center pt-2">
                                                            <button class="btn btn-danger text-nowrap px-1" data-repeater-delete type="button">
                                                                <i class="bx bx-x"></i> Delete
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col p-0">
                                                    <button class="btn btn-primary" data-repeater-create type="button">
                                                        <i class="bx bx-plus"></i> Add
                                                    </button>
                                                </div>
                                            </div>

                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item border-0 pb-0">
                                                    <button class="btn btn-primary btn-block subtotal-preview-btn" name="create" type="submit" value="Create">
                                                        <i class='bx bx-save'></i>
                                                        Save

                                                    </button>
                                                </li>
                                            </ul>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
}
else
{
    Response.Redirect(Url.Action("Index", "ViewNotAuthorized"));
}
