@model tahsinERP.ViewModels.WrhsIncomeViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (tahsinERP.Models.RoleHelper.IsChangePermitted(User.Identity.Name, "WHOperations"))
{
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-12 mb-2 mt-1">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb rounded-pill breadcrumb-divider">
                                    <li class="breadcrumb-item">
                                        <a href="~/Home"><i class="bx bx-home-alt"></i></a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="~/WhIncome/Index">Kirimlar</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        Kirim qilish
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <section id="form-repeater-wrapper">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        @using (Html.BeginForm("Create", "WhIncome", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form repeater-default" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            // WRHS_InComes
                                            <div class="row justify-content-around d-flex align-items-start">
                                                @*Left Part*@
                                                <div class="col-lg-6 col-sm-12">
                                                    <div class="row">
                                                        <div class="col-md-6 col-12 form-group">
                                                            <label for="DocNo">DocNo</label>
                                                            @Html.TextBoxFor(model => model.DocNo, new { @type = "text", @class = "form-control", @id = "DocNo", @placeholder = "DocNo kiriting" })
                                                        </div>
                                                        <div class="col-md-6 col-12 form-group">
                                                            <label for="WhID">WHID</label>
                                                            @Html.DropDownListFor(model => model.WHID, (SelectList)ViewBag.Wrhs, new { @id = "WhId", @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.WHID, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-md-6 col-12 form-group">
                                                            <label for="WhID">Invoice</label>
                                                            @Html.DropDownListFor(model => model.InvoiceID, (SelectList)ViewBag.Invoices, new { @id = "InvoiceId", @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.InvoiceID, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-md-6 col-12 form-group">
                                                            <label for="WbID">Waybill</label>
                                                            @Html.DropDownListFor(model => model.WaybillID, (SelectList)ViewBag.Waybills, new { @id = "WbID", @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.WaybillID, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-md-6 col-12 form-group">
                                                            <label for="Amount">Amount</label>
                                                            @Html.TextBoxFor(model => model.Amount, new { @type = "text", @class = "form-control", @id = "Amount", @placeholder = "Amountni kiriting" })
                                                        </div>
                                                        <div class="col-md-6 col-12 form-group">
                                                            <label for="Currency">Currency</label>
                                                            @Html.TextBoxFor(model => model.Currency, new { @type = "text", @class = "form-control", @id = "Currency", @placeholder = "Currencyni kiriting" })
                                                        </div>
                                                    </div>
                                                </div>

                                                @*Right Part*@
                                                <div class="col-lg-6 col-sm-12">
                                                    <div class="row">
                                                        <div class="col-md-6 col-12 form-group">
                                                            <label for="TotalPrice">Total Price</label>
                                                            @Html.TextBoxFor(model => model.TotalPrice, new { @type = "text", @class = "form-control", @id = "TotalPrice", @placeholder = "Total-Priceni kiriting" })
                                                        </div>
                                                        <div class="col-md-6 col-12 form-group">
                                                            <label for="Description">Description</label>
                                                            @Html.TextBoxFor(model => model.Description, new { @type = "text", @class = "form-control", @id = "Description", @placeholder = "Descriptionni kiriting" })
                                                        </div>
                                                        <div class="col-md-6 col-12 form-group">
                                                            <label for="IssueDateTime">Issue Date-Time</label>
                                                            @Html.EditorFor(model => model.IssueDateTime, new { htmlAttributes = new { @id = "IssueDateTime", @class = "form-control pickadate-months-year " } })
                                                            @Html.ValidationMessageFor(model => model.IssueDateTime, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-md-6 col-12 form-group">
                                                            <label for="SenderWHID">SenderWHID</label>
                                                            @Html.TextBoxFor(model => model.SenderWHID, new { @type = "text", @class = "form-control", @id = "SenderWHID", @placeholder = "SenderWHIDni kiriting" })
                                                        </div>

                                                        <div class="col-md-6 col-12 form-group">
                                                            <div class="checkbox checkbox-secondary checkbox-glow">
                                                                @Html.CheckBoxFor(model => model.RecieveStatus, new { @type = "checkbox", @id = "RecieveStatus" })
                                                                <label for="RecieveStatus">Recieve Status</label>
                                                                @Html.ValidationMessageFor(model => model.RecieveStatus, "", new { @class = "text-warning" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            // WRHS_InCome_Parts
                                            <br />
                                            <h4>
                                                Parts
                                            </h4>

                                            <div data-repeater-list="Parts">
                                                <div data-repeater-item>
                                                    <div class="row justify-content-between">
                                                        <input type="hidden" name="ID" />
                                                        <div class="col-md-2 col-sm-12 form-group">
                                                            <label for="Part_PartID">Ehtiyot qismni tanlang</label>
                                                            @*<input type="text" name="PartID" />*@
                                                            @Html.DropDownList("PartID",(SelectList)ViewBag.InComeParts,new { @class = "form-control" })
                                                        </div>
                                                        <div class="col-md-2 col-sm-12 form-group">
                                                            <label for="Part_Unit">O'lchov birligi</label>
                                                            <input type="text" name="Unit" />
                                                        </div>
                                                        <div class="col-md-2 col-sm-12 form-group">
                                                            <label for="Part_Amount">Amount</label>
                                                            <input type="number" name="Amount" />
                                                        </div>
                                                        <div class="col-md-2 col-sm-12 form-group">
                                                            <label for="Part_PiecePrice">Piece Price</label>
                                                            <input type="number" name="PiecePrice" step="0.01" />
                                                        </div>
                                                        <div class="col-md-2 col-sm-12 form-group">
                                                            <label for="Part_Comment">Comment</label>
                                                            <input type="text" name="Comment" />
                                                        </div>
                                                        <div class="col-md-1 col-sm-12 form-group d-flex align-items-center pt-2">
                                                            <button data-repeater-delete type="button" class="btn btn-danger">Delete</button>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                </div>
                                            </div>

                                            <button data-repeater-create type="button" class="btn btn-primary">Add New Part</button>


                                            // Save button
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item border-0 pb-0">
                                                    <button class="btn btn-primary btn-block subtotal-preview-btn" name="create" type="submit" value="Create">
                                                        <i class='bx bx-save'></i>
                                                        Saqlash
                                                    </button>
                                                </li>
                                            </ul>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
}
else
{
    Response.Redirect(Url.Action("Index", "ViewNotAuthorized"));
}

