@model tahsinERP.Models.ROLE


    <div class="modal fade text-left" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    @*<h3 class="modal-title" id="myModalLabel1">@Model.RName - ning ruxsatlari</h3>*@
                    <button type="button" class="close rounded-pill" data-dismiss="modal" aria-label="Close">
                        <i class="bx bx-x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        @using (Html.BeginForm("SavePermissions", "Role", FormMethod.Post))
                        {
                            <table class="table table-striped table-bordered complex-headers" id="permissionsTable">
                                <thead>
                                    <tr>
                                        <th>Module</th>
                                        <th>O'zgartirish</th>
                                        <th>Ko'rish</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var permission in Model.PERMISSIONS)
                                    {
                                        <tr>
                                            <td>@permission.PERMISSIONMODULE.Module</td>
                                            <td>
                                                <input type="hidden" name="@permission.ID" value="@permission.ID" />
                                                <input type="checkbox" name="@permission.ChangePermit" value="true" @(permission.ChangePermit ? "checked" : "") />
                                                <input type="hidden" name="@permission.ChangePermit" value="false" />
                                            </td>
                                            <td>
                                                <input type="checkbox" name="@permission.ViewPermit" value="true" @(permission.ViewPermit ? "checked" : "") />
                                                <input type="hidden" name="@permission.ViewPermit" value="false" />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3">
                                            <button class="btn btn-success btn-block subtotal-preview-btn" id="savePermissionsBtn">
                                                <i class='bx bx-save'></i> Saqlash
                                            </button>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        }
                        </div>
                </div>
            </div>
        </div>
    </div>
