@model tahsinERP.Models.P_CONTRACTS
 
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Create", "Contract", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-12 mb-2 mt-1">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb rounded-pill breadcrumb-divider">
                                    <li class="breadcrumb-item">
                                        <a href="~/Home"><i class="bx bx-home-alt"></i></a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="~/Contract/Index">Shartnomalar</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        Yangi shartnoma qo'shish
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- app invoice View Page -->
                <section class="basic-select2">
                    <div class="row">
                        <!-- invoice view page -->
                        <div class="col-xl-9 col-md-8 col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body pb-0 mx-25">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-6 mt-25">
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                <hr>

                                                <h6 class="invoice-to">Shartnoma raqami</h6>
                                                <fieldset class="invoice-address form-group">
                                                    @Html.TextBoxFor(model => model.ContractNo, new { @class = "form-control round", @placeholder = "Shartnoma raqami" })
                                                    @Html.ValidationMessageFor(model => model.ContractNo, "", new { @class = "text-danger" })
                                                </fieldset>

                                                <h6 class="invoice-to">Shartnoma tuzilgan sanasi</h6>
                                                <fieldset class="invoice-address form-group">
                                                    @Html.TextBoxFor(model => model.IssuedDate, new { @class = "form-control round", @placeholder = "Shartnoma muddati" })
                                                    @Html.ValidationMessageFor(model => model.IssuedDate, "", new { @class = "text-danger" })
                                                </fieldset>

                                                <!--shu yerda dropdown list bolishi kerak kompaniya, supplier, part lar uchun-->
                                                <h6 class="invoice-to">Kompaniya ID</h6>
                                                <fieldset class="invoice-address form-group">
                                                    @Html.TextBoxFor(model => model.CompanyID, new { @class = "form-control round", @placeholder = "Kompaniya ID" })
                                                    @Html.ValidationMessageFor(model => model.CompanyID, "", new { @class = "text-danger" })
                                                </fieldset>

                                                <h6 class="invoice-to">Ta'minotchi ID'</h6>
                                                <fieldset class="invoice-address form-group">
                                                    @Html.TextBoxFor(model => model.SupplierID, new { @class = "form-control round", @placeholder = "Ta'minotchi ID" })
                                                    @Html.ValidationMessageFor(model => model.SupplierID, "", new { @class = "text-danger" })
                                                </fieldset>

                                                <h6 class="invoice-to">Qismlar ID</h6>
                                                <fieldset class="invoice-address form-group">
                                                    @Html.TextBoxFor(model => model.PartID, new { @class = "form-control round", @placeholder = "Qismlar ID" })
                                                    @Html.ValidationMessageFor(model => model.PartID, "", new { @class = "text-danger" })
                                                </fieldset>

                                                <h6 class="invoice-to">Narxi</h6>
                                                <fieldset class="invoice-address form-group">
                                                    @Html.TextBoxFor(model => model.Price, new { @class = "form-control round", @placeholder = "Narxi" })
                                                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                                </fieldset>

                                                <h6 class="invoice-to">Valyuta </h6>
                                                <fieldset class="invoice-address form-group">
                                                    @Html.TextBoxFor(model => model.Currency, new { @class = "form-control round", @placeholder = "Valyuta" })
                                                    @Html.ValidationMessageFor(model => model.Currency, "", new { @class = "text-danger" })
                                                </fieldset>

                                                <h6 class="invoice-to">Miqdori</h6>
                                                <fieldset class="invoice-address form-group">
                                                    @Html.TextBoxFor(model => model.Amount, new { @class = "form-control round", @placeholder = "Miqdori" })
                                                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                                                </fieldset>

                                                <h6 class="invoice-to">Incoterm</h6>
                                                <fieldset class="invoice-address form-group">
                                                    @Html.TextBoxFor(model => model.Incoterms, new { @class = "form-control round", @placeholder = "Incoterms" })
                                                    @Html.ValidationMessageFor(model => model.Incoterms, "", new { @class = "text-danger" })
                                                </fieldset>

                                                <h6 class="invoice-to">To'lov muddati</h6>
                                                <fieldset class="invoice-address form-group">
                                                    @Html.TextBoxFor(model => model.PaymentTerms, new { @class = "form-control round", @placeholder = "To'lov muddati" })
                                                    @Html.ValidationMessageFor(model => model.PaymentTerms, "", new { @class = "text-danger" })
                                                </fieldset>

                                                <h6 class="invoice-to">Minimum buyurtma miqdori</h6>
                                                <fieldset class="invoice-address form-group">
                                                    @Html.TextBoxFor(model => model.MOQ, new { @class = "form-control round", @placeholder = "Minimum buyurtma miqdori" })
                                                    @Html.ValidationMessageFor(model => model.MOQ, "", new { @class = "text-danger" })
                                                </fieldset>

                                                <h6 class="invoice-to">Maximum sig'im</h6>
                                                <fieldset class="invoice-address form-group">
                                                    @Html.TextBoxFor(model => model.MaximumCapacity, new { @class = "form-control round", @placeholder = "Maximum Sig'im" })
                                                    @Html.ValidationMessageFor(model => model.PaymentTerms, "", new { @class = "text-danger" })
                                                </fieldset>

                                                <h6 class="invoice-to">O'lchov birligi</h6>
                                                <fieldset class="invoice-address form-group">
                                                    @Html.TextBoxFor(model => model.Unit, new { @class = "form-control round", @placeholder = "O'lchov birligi" })
                                                    @Html.ValidationMessageFor(model => model.Unit, "", new { @class = "text-danger" })
                                                </fieldset>

                                                <h6 class="invoice-to">Shartnoma muddati</h6>
                                                <fieldset class="invoice-address form-group">
                                                    @Html.TextBoxFor(model => model.DueDate, new { @class = "form-control round", @placeholder = "Shartnoma muddati" })
                                                    @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })
                                                </fieldset>
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item border-0 pb-0">
                                                        <button class="btn btn-primary btn-block subtotal-preview-btn" name="create" type="submit" value="Create">
                                                            <i class='bx bx-save'></i>
                                                            Save
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
}