@model tahsinERP.Models.P_CONTRACTS

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb rounded-pill breadcrumb-divider">
                                <li class="breadcrumb-item">
                                    <a href="~/Home"><i class="bx bx-home-alt"></i></a>
                                </li>
                                <li class="breadcrumb-item ">
                                    <a href="~/Contract">Shartnomalar</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    Shartnoma  ma'lumotlari
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- app invoice View Page -->
            <section class="invoice-edit-wrapper">
                <div class="row">
                    <!-- invoice view page -->
                    <div class="col-xl-9 col-md-8 col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body pb-0 mx-25">
                                    <div class="row invoice-info">
                                        <div class="col-lg-12 col-md-6 mt-25">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <h4 class="text-primary">Shartnoma  ma'lumotlari</h4>
                                            <hr />
                                            <span><b>Shartnoma raqami</b>: @Html.DisplayFor(model => model.ContractNo, new { @class = "form-control" })</span>
                                            <br />
                                            <span><b>Belgilangan sanasi</b>: @Html.DisplayFor(model => model.IssuedDate, new { @class = "form-control" })</span>
                                            <br />
                                            <span><b>Amal qilish sanasi</b>: @Html.DisplayFor(model => model.DueDate, new { @class = "form-control" })</span>
                                            <br />
                                            <span><b>Narxi</b>: @Html.DisplayFor(model => model.Price, new { @class = "form-control" })</span>
                                            <br />
                                            <span><b>Miqdori</b>: @Html.DisplayFor(model => model.Amount, new { @class = "form-control" })</span>
                                            <br />
                                            <span><b>Valyuta</b>: @Html.DisplayFor(model => model.Currency, new { @class = "form-control" })</span>
                                            <br />
                                            <span><b>Incoterms</b>: @Html.DisplayFor(model => model.Incoterms, new { @class = "form-control" })</span>
                                            <br />
                                            <span><b>PaymentTerms</b>: @Html.DisplayFor(model => model.PaymentTerms, new { @class = "form-control" })</span>
                                            <br />
                                            <span><b>MOQ</b>: @Html.DisplayFor(model => model.MOQ, new { @class = "form-control" })</span>
                                            <br />
                                            <span><b>Maximum sig'im</b>: @Html.DisplayFor(model => model.MaximumCapacity, new { @class = "form-control" })</span>
                                            <br />
                                            <span><b>Unit</b>: @Html.DisplayFor(model => model.Unit, new { @class = "form-control" })</span>
                                            <hr />
                                            <section>
                                                <div>
                                                    <h6 class="text-primary">Taminotchi  ma'lumotlari</h6>
                                                    <span><b>Nomi</b>: @Html.DisplayFor(model => model.SUPPLIERS.Name, new { @class = "form-control" })</span>
                                                    <br />
                                                    <span><b>DUNS</b>: @Html.DisplayFor(model => model.SUPPLIERS.DUNS, new { @class = "form-control" })</span>
                                                    <br />
                                                    <hr />
                                                </div>
                                            </section>

                                            <section>
                                                <div>
                                                    <h6 class="text-primary">Kompaniya  ma'lumotlari</h6>
                                                    <span><b>Nomi</b>: @Html.DisplayFor(model => model.COMPANIES.Name, new { @class = "form-control" })</span>
                                                    <br />
                                                    <span><b>DUNS</b>: @Html.DisplayFor(model => model.COMPANIES.DUNS, new { @class = "form-control" })</span>
                                                    <br />
                                                    <hr />
                                                </div>
                                            </section>
                                            <h6 class="text-primary">Qismlar malumotlari</h6>
                                            @* PARTS ga bog'langanqismini chiqarib bera olmayapti*@
                                            @*<span><b>Nomi</b>: @Html.DisplayFor(model => model.PARTS.PName, new { @class = "form-control" })</span>
                                            <br />
                                            <span><b>Turi</b>: @Html.DisplayFor(model => model.PARTS.Type, new { @class = "form-control" })</span>
                                            <br />*@
                                        </div>
                                        @*@Html.Partial("SupplierParts")*@
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>