@model List<tahsinERP.Models.PART>
@{
    ViewBag.Title = "GetAllParts";
}
@*
<style>
    /* Add a bottom border to each table row */
    #myDataTable tr {
        border-bottom: 1px solid #ccc;
    }
</style>*@

@if (tahsinERP.Models.RoleHelper.IsViewPermitted(User.Identity.Name, ViewContext.RouteData.Values["controller"].ToString(), ViewContext.RouteData.Values["action"].ToString()))
{
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-12 mb-2 mt-1">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb p-0 mb-0">
                                    <li class="breadcrumb-item">
                                        <a href="~/Home"><i class="bx bx-home-alt"></i></a>
                                    </li>
                                    <li class="breadcrumb-item ">
                                        Sahifalar
                                    </li>
                                    <li class="breadcrumb-item active">
                                        Barcha ehtiyot qismlar
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- users list start -->
                <section class="invoice-list-wrapper">
                    <div class="col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <!-- datatable start -->
                                    <div class="table-responsive table-responsivetable-responsive">
                                        <table class="table invoice-data-table dt-responsive nowrap" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th></th>
                                                    <th>Detal Raqami</th>
                                                    <th>Nomi</th>
                                                    <th>Marka</th>
                                                    <th>Standart</th>
                                                    <th>Og`irligi</th>
                                                    <th>O`lchov birligi</th>
                                                    <th>Amallar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td>
                                                            <a href="~/Part/Details/@item.ID">@item.PNo</a>
                                                        </td>
                                                        <td><a href="~/Part/Details/@item.ID">@item.PName</a></td>
                                                        <td>@item.Marka</td>
                                                        <td>@item.Standart</td>
                                                        <td>@item.PWeight</td>
                                                        <td>@item.UNIT.ShortName</td>
                                                        <td>
                                                            <div>
                                                                <a href="@Url.Action("Edit", "Part", new { id = item.ID })"><i class="bx bx-edit-alt"></i></a>
                                                                <a href="@Url.Action("Delete", "Part", new { id = item.ID })"><i class="bx bx-trash"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
}
else
{
    Response.Redirect(Url.Action("Index", "ViewNotAuthorized"));
}
