@model tahsinERP.ViewModels.Home.StatisticsVM
@{
    ViewBag.Title = "Home Page";
}
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <!-- Dashboard Analytics Start -->
            <section id="dashboard-ecommerce">
                <div class="row">
                    <div class="col-xl-4 col-12 dashboard-users">
                        <div class="row  ">
                            <!-- Statistics Cards Starts -->
                            <div class="col-12">
                                <div class="row">
                                    <h5>Engineering to'g'risida ma'lumot:</h5>
                                    <div class="col-sm-6 col-12 dashboard-users-success">
                                        <div class="card text-center">
                                            <div class="card-content">
                                                <div class="card-body py-1">
                                                    <div class="badge-circle badge-circle-lg badge-circle-light-secondary mx-auto mb-50">
                                                        <i class="bx bx-hive font-medium-5"></i>
                                                    </div>
                                                    <div class="text-muted line-ellipsis">BOMli maxsulotlar:</div>
                                                    <h3 class="mb-0">@Model.NoOfParentBOMs</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-12 dashboard-users-success">
                                        <div class="card text-center">
                                            <div class="card-content">
                                                <div class="card-body py-1">
                                                    <div class="badge-circle badge-circle-lg badge-circle-light-secondary mx-auto mb-50">
                                                        <i class="bx bx-disc font-medium-5"></i>
                                                    </div>
                                                    <div class="text-muted line-ellipsis">Ja'mi maxsulotlar:</div>
                                                    <h3 class="mb-0">@Model.NoOfProducts</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-12 dashboard-users-success">
                                        <div class="card text-center">
                                            <div class="card-content">
                                                <div class="card-body py-1">
                                                    <div class="badge-circle badge-circle-lg badge-circle-light-secondary mx-auto mb-50">
                                                        <i class="bx bx-wrench font-medium-5"></i>
                                                    </div>
                                                    <div class="text-muted line-ellipsis">Ja'mi ehtiyot qismlar:</div>
                                                    <h3 class="mb-0">@Model.NoOfParts</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="row">
                                    <h5>Foydalanuvchilar to'g'risida ma'lumot:</h5>
                                    <div class="col-sm-6 col-12 dashboard-users-success">
                                        <div class="card text-center">
                                            <div class="card-content">
                                                <div class="card-body py-1">
                                                    <div class="badge-circle badge-circle-lg badge-circle-light-success mx-auto mb-50">
                                                        <i class="bx bx-user font-medium-5"></i>
                                                    </div>
                                                    <div class="text-muted line-ellipsis">Foydalanuvchilar</div>
                                                    <h3 class="mb-0">@Model.NoOfUsers</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-12 dashboard-users-danger">
                                        <div class="card text-center">
                                            <div class="card-content">
                                                <div class="card-body py-1">
                                                    <div class="badge-circle badge-circle-lg badge-circle-light-danger mx-auto mb-50">
                                                        <i class="bx bxs-user-circle font-medium-5"></i>
                                                    </div>
                                                    <div class="text-muted line-ellipsis">Rollar</div>
                                                    <h3 class="mb-0">@Model.NoOfRoles</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                            </div>
                            <!-- Revenue Growth Chart Starts -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- Dashboard Analytics end -->

            @if (ViewBag.ShowCookieConsent)
            {
                <script>
    $(document).ready(function () {
                        $("#cookieConsent").modal('show');
                    });</script>
            }
        </div>
    </div>
</div>
<!-- END: Content-->