@model tahsinERP.ViewModels.TransportTypeViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (tahsinERP.Models.RoleHelper.IsChangePermitted(User.Identity.Name, ViewContext.RouteData.Values["controller"].ToString(), ViewContext.RouteData.Values["action"].ToString()))
{
    using (Html.BeginForm("Edit", "FTransportType", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="app-content content">
            <div class="content-overlay"></div>
            <div class="content-wrapper">
                <div class="content-header row">
                    <div class="content-header-left col-12 mb-2 mt-1">
                        <div class="row breadcrumbs-top">
                            <div class="col-12">
                                <div class="breadcrumb-wrapper col-12">
                                    <ol class="breadcrumb rounded-pill breadcrumb-divider">
                                        <li class="breadcrumb-item">
                                            <a href="~/Home"><i class="bx bx-home-alt"></i></a>
                                        </li>
                                        <li class="breadcrumb-item">
                                            <a href="~/FTransportType/Index">Transport turlari</a>
                                        </li>
                                        <li class="breadcrumb-item active">
                                            Transport turi sahifasi
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-body">
                    <div class="row">
                        <!-- invoice view page -->
                        <div class="col-xl-9 col-md-8 col-12">
                            <div class="card">
                                <div class="card-content">

                                    <div class="card-body pb-0 mx-25">
                                        @Html.AntiForgeryToken()
                                        <div class="row">
                                            <h4 class="text-primary">Transport turi malumotlarini tahrirlash</h4>

                                            <div class="col-lg-12 col-md-6 mt-25">
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                <hr>

                                                <h6 class="invoice-to">Transport turi</h6>
                                                <fieldset class="invoice-address form-group">
                                                    @Html.TextBoxFor(model => model.TransportType, new { @class = "form-control round", @placeholder = "FTransportType" })
                                                    @Html.ValidationMessageFor(model => model.TransportType, "", new { @class = "text-danger" })
                                                </fieldset>
                                                <h6 class="invoice-to">Unit</h6>
                                                <fieldset class="invoice-address form-group">
                                                    @Html.TextBoxFor(model => model.Unit, new { @class = "form-control round", @placeholder = "Unit" })
                                                    @Html.ValidationMessageFor(model => model.Unit, "", new { @class = "text-danger" })
                                                </fieldset>
                                                <h6 class="invoice-to">Ko`tarish imkoniyati</h6>
                                                <fieldset class="form-group">
                                                    @Html.TextBoxFor(model => model.CapableOfLifting, new { @class = "form-control round", @placeholder = "Transport ko`tarish imkoniyati" })
                                                    @Html.ValidationMessageFor(model => model.CapableOfLifting, "", new { @class = "text-danger" })
                                                </fieldset>
                                                <h6 class="invoice-to">Og`irligi</h6>
                                                <fieldset class="invoice-address form-group">
                                                    @Html.TextBoxFor(model => model.TransportWeight, new { @class = "form-control round", @placeholder = "og`irligi" })
                                                    @Html.ValidationMessageFor(model => model.TransportWeight, "", new { @class = "text-danger" })
                                                </fieldset>
                                                <div class="row">
                                                    <div class="col-12 col-sm-6">
                                                        <h6 class="invoice-to">Tashqi uzunligi</h6>
                                                        <fieldset class="invoice-address form-group">
                                                            @Html.TextBoxFor(model => model.ExtLgth, new { @class = "form-control round", @placeholder = "Extlength" })
                                                            @Html.ValidationMessageFor(model => model.ExtLgth, "", new { @class = "text-danger" })
                                                        </fieldset>

                                                        <h6 class="invoice-to">Tashqi kengligi</h6>
                                                        <fieldset class="invoice-address form-group">
                                                            @Html.TextBoxFor(model => model.ExtWdth, new { @class = "form-control round", @placeholder = "ExtWidth" })
                                                            @Html.ValidationMessageFor(model => model.ExtWdth, "", new { @class = "text-danger" })
                                                        </fieldset>

                                                        <h6 class="invoice-to">Tashqi balandligi</h6>
                                                        <fieldset class="invoice-address form-group">
                                                            @Html.TextBoxFor(model => model.ExtHght, new { @class = "form-control round", @placeholder = "ExtHeight" })
                                                            @Html.ValidationMessageFor(model => model.ExtHght, "", new { @class = "text-danger" })
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-12 col-sm-6">
                                                        <h6 class="invoice-to">Ichki uzunligi</h6>
                                                        <fieldset class="invoice-address form-group">
                                                            @Html.TextBoxFor(model => model.IntLgth, new { @class = "form-control round", @placeholder = "IntLength" })
                                                            @Html.ValidationMessageFor(model => model.IntLgth, "", new { @class = "text-danger" })
                                                        </fieldset>

                                                        <h6 class="invoice-to">Ichki kengligi</h6>
                                                        <fieldset class="invoice-address form-group">
                                                            @Html.TextBoxFor(model => model.IntWdth, new { @class = "form-control round", @placeholder = "IntWidth" })
                                                            @Html.ValidationMessageFor(model => model.IntWdth, "", new { @class = "text-danger" })
                                                        </fieldset>

                                                        <h6 class="invoice-to">Ichki balandligi</h6>
                                                        <fieldset class="invoice-address form-group">
                                                            @Html.TextBoxFor(model => model.IntHght, new { @class = "form-control round", @placeholder = "IntHeight" })
                                                            @Html.ValidationMessageFor(model => model.IntHght, "", new { @class = "text-danger" })
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item border-0 pb-0">
                                                <button class="btn btn-primary btn-block subtotal-preview-btn" name="edit" type="submit" value="Edit">
                                                    <i class='bx bx-save'></i>
                                                    Saqlash
                                                </button>
                                            </li>
                                        </ul>

                                        <hr>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    Response.Redirect(Url.Action("Index", "ViewNotAuthorized"));
}
