@model tahsinERP.ViewModels.UserViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}
@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()

    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- app invoice View Page -->
                <section class="invoice-edit-wrapper">
                    <div class="row">
                        <!-- invoice view page -->
                        <div class="col-xl-9 col-md-8 col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body pb-0 mx-25">
                                        <div class="row invoice-info">
                                            <br />
                                            <div class="col-lg-12 col-md-6 mt-25">
                                                <fieldset>
                                                    <h4 class="text-primary">User photo</h4>
                                                    <img alt="" src="@ViewBag.Base64String" style="height:150px;width:150px;" />
                                                </fieldset>
                                                <fieldset>
                                                    <input type="file" id="userPhotoUpload" name="userPhotoUpload" />
                                                    @Html.ValidationMessageFor(model => model.File, "", new { @class = "text-danger" })
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="row my-2 py-50">
                                            <div class="col-sm-6 col-12 order-2 order-sm-1">
                                                <h4 class="text-primary">Username</h4>
                                                @Html.TextBoxFor(model => model.UName, new { @class = "form-control", @placeholder = "Username" })
                                                @Html.ValidationMessageFor(model => model.UName, "", new { @class = "text-danger" })
                                                <h6 class="invoice-to">E-mail</h6>
                                                <fieldset class="invoice-address form-group">
                                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "E-mail" })
                                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="row invoice-info">
                                            <div class="col-lg-12 col-md-6 mt-25">
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                <hr>
                                                <h6 class="invoice-to">Part name</h6>
                                                <fieldset class="invoice-address form-group">
                                                    @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", @placeholder = "Full name" })
                                                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                                                </fieldset>
                                                <h6 class="invoice-to">Role</h6>
                                                <fieldset class="invoice-address form-group">
                                                    @Html.DropDownList("RoleID", null, htmlAttributes: new { @class = "form-control" })
                                                </fieldset>
                                                <h6 class="invoice-to">Password</h6>
                                                <fieldset class="invoice-address form-group">
                                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Password" })
                                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                                </fieldset>
                                                <h6 class="invoice-to">Confirm Password</h6>
                                                <fieldset class="invoice-address form-group">
                                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Password" })
                                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                                </fieldset>
                                                <h6>Activity</h6>
                                                <ul class="list-unstyled mb-0">
                                                    <li class="d-inline-block mr-2 mb-1">
                                                        <fieldset>
                                                            <div class="checkbox checkbox-secondary checkbox-glow">
                                                                @Html.CheckBoxFor(Model => Model.IsActive, new { @type ="checkbox", @id="checkboxGlow2"})
                                                                <label for="checkboxGlow2">Faolmi?</label>
                                                            </div>
                                                        </fieldset>
                                                    </li>
                                                </ul>

                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item border-0 pb-0">
                                                        <button class="btn btn-primary btn-block subtotal-preview-btn" name="save" type="submit" value="Edit">
                                                            <i class='bx bx-save'></i>
                                                            Save
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
}