@model tahsinERP.Models.P_INVOICES

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    double totalAmount = 0;
    int totalQty = 0;
    string transportNo = ViewBag.transportNo as string;
    string packingListNo = ViewBag.packingListNo as string;
}

<style>
    body {
        font-family: Arial, sans-serif;
    }

    .invoice-container {
        width: 90%;
        margin: 0 auto;
        border: 1px solid #000;
        padding: 20px;
    }

    .header, .footer {
        text-align: center;
        margin-bottom: 20px;
    }

    .header table, .content table {
        width: 100%;
        border-collapse: collapse;
    }

    .header th, .header td, .content th, .content td {
        border: 1px solid #000;
        padding: 8px;
        text-align: left;
    }

    .content th {
        background-color: #f2f2f2;
    }

    .footer {
        margin-top: 20px;
    }

    .total {
        font-weight: bold;
    }
</style>

@if (tahsinERP.Models.RoleHelper.IsViewPermitted(User.Identity.Name, ViewContext.RouteData.Values["controller"].ToString(), ViewContext.RouteData.Values["action"].ToString()))
{
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
           @* <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb rounded-pill breadcrumb-divider">
                    <li class="breadcrumb-item">
                        <a href="~/Home"><i class="bx bx-home-alt"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="~/PInvoice">Invoices</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Invoice ma`lumotlari
                    </li>
                </ol>
            </div>*@
            <div class="content-header row">
                <div class="content-header-left col-12 mb-2 mt-1">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb rounded-pill breadcrumb-divider">
                                    <li class="breadcrumb-item">
                                        <a href="~/Home"><i class="bx bx-home-alt"></i></a>
                                    </li>
                                    <li class="breadcrumb-item ">
                                        <a href="~/PInvoice">Invoice lar</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        Invoice ma'lumotlari
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button id="generatePDF" class="btn btn-outline-danger buttons-pdf buttons-html5">
                <i class='bx bx-save'></i>
                PDF
            </button>
            <br />
            <br />

            <div class="invoice-container" id="toPDF">
                <div class="header">
                    <table>
                        <tr>
                            <th>Shipper</th>
                            <th>Invoice No.</th>
                            <th>Issued Date</th>
                        </tr>
                        <tr>
                            <td>
                                @Model.SUPPLIER.Name<br>
                                @Model.SUPPLIER.Address, @Model.SUPPLIER.City<br>
                                @Model.SUPPLIER.Country
                            </td>
                            <td>@Model.InvoiceNo</td>
                            <td>@Model.InvoiceDate.ToString("dd.MM.yyyy")</td>
                        </tr>
                    </table>
                    <br>
                    <table>
                        <tr>
                            <th>Ship to</th>
                            <th>Bill to</th>
                        </tr>
                        <tr>
                            <td>
                                @Model.COMPANy.Name<br>
                                @Model.COMPANy.DUNS, REPUBLIC OF @Model.COMPANy.Country,<br>
                                @Model.COMPANy.City, @Model.COMPANy.Address<br>
                                Tel: @Model.COMPANy.Telephone<br>
                                Email: @Model.COMPANy.Email
                            </td>
                            <td>
                                @Model.COMPANy.Name<br>
                                @Model.COMPANy.DUNS, REPUBLIC OF @Model.COMPANy.Country,<br>
                                @Model.COMPANy.City, @Model.COMPANy.Address<br>
                                Tel: @Model.COMPANy.Telephone<br>
                                Email: @Model.COMPANy.Email
                            </td>
                        </tr>
                    </table>
                    <br>
                    <table>
                        <tr>
                            <th>Transport & Vessel information</th>
                            <th>PackingList No</th>
                        </tr>
                        <tr>
                            <td>
                                @transportNo<br>
                            </td>
                            <td>@packingListNo</td>
                        </tr>
                    </table>
                    <br>
                    <table>
                        <tr>
                            <th>Other references</th>
                        </tr>
                        <tr>
                            <td>
                                Terms of delivery and payment: @Model.P_ORDERS.P_CONTRACTS.Incoterms<br>
                                Payment: @Model.P_ORDERS.P_CONTRACTS.PaymentTerms
                            </td>
                        </tr>
                    </table>
                    <br />
                    <table>
                        <tr>
                            <th>Detall raqami</th>
                            <th>Nomi</th>
                            <th>Soni</th>
                            <th>Unit</th>
                            <th>Unit narxi</th>
                            <th>Amount (USD)</th>
                        </tr>
                        @foreach (var item in ViewBag.partList)
                        {
                            totalAmount += item.TotalPrice;
                            totalQty += item.Quantity;
                            <tr>
                                <td>
                                    <a href="~/Part/Details/@item.PartID">@item.PART.PNo</a>
                                </td>
                                <td>@item.PART.PName</td>
                                <td>@item.Quantity</td>
                                <td>@item.UNIT.UnitName</td>
                                <td>@item.Price</td>
                                <td>@item.TotalPrice</td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="content">

                </div>
                <div class="footer">
                    <p>Total Qty: <b>@totalQty</b> &nbsp;&nbsp;&nbsp;&nbsp; TOTAL Amount: <b> $@totalAmount.ToString("N2")</b></p>
                    <p>Signed by Taewan Park / COAVIS</p>
                </div>
            </div>
        </div>
    </div>
}
else
{
    Response.Redirect(Url.Action("Index", "ViewNotAuthorized"));
}
