@model tahsinERP.Models.PRODUCT
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (tahsinERP.Models.RoleHelper.IsChangePermitted(User.Identity.Name, ViewContext.RouteData.Values["controller"].ToString(), ViewContext.RouteData.Values["action"].ToString()))
{
    using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="app-content content">
            <div class="content-overlay"></div>
            <div class="content-wrapper">
                <div class="content-header row">
                    <div class="content-header-left col-12 mb-2 mt-1">
                        <div class="row breadcrumbs-top">
                            <div class="col-12">
                                <div class="breadcrumb-wrapper col-12">
                                    <ol class="breadcrumb rounded-pill breadcrumb-divider">
                                        <li class="breadcrumb-item">
                                            <a href="~/Home"><i class="bx bx-home-alt"></i></a>
                                        </li>
                                        <li class="breadcrumb-item">
                                            <a href="~/Product/Index">Maxsulot</a>
                                        </li>
                                        <li class="breadcrumb-item active">
                                            Maxsulot @Model.PNo ni tahrirlash
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-body">
                    <!-- app invoice View Page -->
                    <section class="basic-select2">
                        <div class="row">
                            <!-- invoice view page -->
                            <div class="col-xl-9 col-md-8 col-12">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="card-body pb-0 mx-25">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-6 mt-25">
                                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                    <hr>

                                                    <div class="row my-2 py-50">
                                                        <div class="col-sm-6 col-12 order-2 order-sm-1">
                                                            <h4 class="text-primary">Maxsulot raqami</h4>
                                                            <fieldset class="invoice-address form-group">
                                                                @Html.TextBoxFor(model => model.PNo, new { @class = "form-control round", @placeholder = "PNo" })
                                                                @Html.ValidationMessageFor(model => model.PNo, "", new { @class = "text-danger" })
                                                            </fieldset>
                                                            <h6 class="invoice-to">Nomi</h6>
                                                            <fieldset class="invoice-address form-group">
                                                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control round", @placeholder = "Name" })
                                                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                                            </fieldset>
                                                        </div>
                                                        <br />
                                                        <div class="col-sm-6 col-12 order-1 order-sm-1 d-flex justify-content-end">
                                                            <h4 class="text-primary">Maxsulot rasmi</h4>
                                                            <input type="file" id="productPhotoUpload" name="productPhotoUpload" />  // Ensure name attribute is set
                                                            @Html.ValidationMessageFor(model => model.PRODUCTIMAGES, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <h6 class="invoice-to">Turi</h6>
                                                    <fieldset class="form-group">
                                                        @Html.TextBoxFor(model => model.Type, new { @class = "form-control round", @placeholder = "Type" })
                                                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                                    </fieldset>
                                                    <h6 class="invoice-to">Og'irligi</h6>
                                                    <fieldset class="invoice-address form-group">
                                                        @Html.TextBoxFor(model => model.Weight, new { @class = "form-control round", @placeholder = "Weight" })
                                                        @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                                                    </fieldset>
                                                    <h6 class="invoice-to">Uzunligi</h6>
                                                    <fieldset class="invoice-address form-group">
                                                        @Html.TextBoxFor(model => model.Length, new { @class = "form-control round", @placeholder = "Length" })
                                                        @Html.ValidationMessageFor(model => model.Length, "", new { @class = "text-danger" })
                                                    </fieldset>
                                                    <h6 class="invoice-to">Kengligi</h6>
                                                    <fieldset class="invoice-address form-group">
                                                        @Html.TextBoxFor(model => model.Width, new { @class = "form-control round", @placeholder = "Width" })
                                                        @Html.ValidationMessageFor(model => model.Width, "", new { @class = "text-danger" })
                                                    </fieldset>
                                                    <h6 class="invoice-to">Balandligi</h6>
                                                    <fieldset class="invoice-address form-group">
                                                        @Html.TextBoxFor(model => model.Height, new { @class = "form-control round", @placeholder = "Height" })
                                                        @Html.ValidationMessageFor(model => model.Height, "", new { @class = "text-danger" })
                                                    </fieldset>
                                                    <h6 class="invoice-to">O'lchov birligi (dona)</h6>
                                                    <fieldset class="invoice-address form-group">
                                                        @Html.TextBoxFor(model => model.Unit, new { @class = "form-control round", @placeholder = "Unit" })
                                                        @Html.ValidationMessageFor(model => model.Unit, "", new { @class = "text-danger" })
                                                    </fieldset>
                                                    <h6 class="invoice-to">Tavsifi </h6>
                                                    <fieldset class="invoice-address form-group">
                                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control round", @placeholder = "Description" })
                                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                                    </fieldset>
                                                    <h6 class="invoice-to">Maxsulot raqami 2</h6>
                                                    <fieldset class="invoice-address form-group">
                                                        @Html.TextBoxFor(model => model.PNo2, new { @class = "form-control round", @placeholder = "PNo2" })
                                                        @Html.ValidationMessageFor(model => model.PNo2, "", new { @class = "text-danger" })
                                                    </fieldset>
                                                    <h6 class="invoice-to">Maxsulot raqami 3</h6>
                                                    <fieldset class="invoice-address form-group">
                                                        @Html.TextBoxFor(model => model.PNo3, new { @class = "form-control round", @placeholder = "PNo3" })
                                                        @Html.ValidationMessageFor(model => model.PNo3, "", new { @class = "text-danger" })
                                                    </fieldset>
                                                    <h6 class="invoice-to">Maxsulot raqami 4</h6>
                                                    <fieldset class="invoice-address form-group">
                                                        @Html.TextBoxFor(model => model.PNo4, new { @class = "form-control round", @placeholder = "PNo4" })
                                                        @Html.ValidationMessageFor(model => model.PNo4, "", new { @class = "text-danger" })
                                                    </fieldset>

                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item border-0 pb-0">
                                                            <button class="btn btn-primary btn-block subtotal-preview-btn" name="edit" type="submit" value="Edit">
                                                                <i class='bx bx-save'></i>
                                                                Save
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    }
}
else
{
    Response.Redirect(Url.Action("Index", "ViewNotAuthorized"));
}