@model tahsinERP.ViewModels.BOM.BoomViewModel
<li class="li">

    @if (Model.Children != null && Model.Children.Any())
    {
        <ol>
            @foreach (var child in Model.Children)
            {
                <div style="display: flex; align-items: center;">
                    @if (child.ChildImageBase64 != null)
                    {
                        <a href="@child.ChildImageBase64" target="_blank">
                            <img src="@child.ChildImageBase64" alt="Child Image"
                                 style="width: 100px; height: 100px; object-fit: cover; margin-right: 5px;" class="img-fluid" />
                        </a>
                    }
                    <span class="span">
                        @child.ChildPNo (Ishlatilishi: @child.Consumption @child.ConsumptionUnit)
                    </span>
                </div>
                @Html.Partial("_BomTreePartial", child)
            }
        </ol>
    }
</li>