@model  IList<tahsinERP.ViewModels.BOM.ChildViewModel>

<ul>
    @foreach (var child in Model)
    {
        <li id="li">
            <div style="display: flex; align-items: center;">
                @if (!string.IsNullOrEmpty(child.ChildImageBase64))
                {
                    <a href="@child.ChildImageBase64" target="_blank">
                        <img src="@child.ChildImageBase64" alt="Product Image"
                             style="width: 100px; height: 100px; object-fit: cover; margin-right: 5px;" />
                    </a>
                }
                <span id="span">
                    <a href="/Part/Details/@child.PART.ID">@child.ChildPNo</a>:
                    @(child.Consumption == 0 ? "0" : child.Consumption.ToString("F3")) - @child.ConsumptionUnit
                </span>
            </div>
            @if (child.Children.Any())
            {
                @Html.Partial("_ChildPartView", child.Children)
            }
        </li>
    }
</ul>
