@model tahsinERP.ViewModels.BOM.BoomViewModel

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
@if (tahsinERP.Models.RoleHelper.IsViewPermitted(User.Identity.Name, "BOM"))
{
    bool changePermit = false;
    if (tahsinERP.Models.RoleHelper.IsChangePermitted(User.Identity.Name, "BOM"))
    {
        changePermit = true;
    }
    var bomDictionary = ((IEnumerable<dynamic>)ViewBag.bom).ToDictionary(b => (string)b.ParentPNo, b => b);
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-12 mb-2 mt-1">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb rounded-pill breadcrumb-divider">
                                    <li class="breadcrumb-item">
                                        <a href="~/Home"><i class="bx bx-home-alt"></i></a>
                                    </li>
                                    <li class="breadcrumb-item ">
                                        Sahifalar
                                    </li>
                                    <li class="breadcrumb-item">
                                        BOM
                                    </li>
                                    <li class="breadcrumb-item active">
                                        @Model.ParentPnoComplationStatus
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <section class="invoice-list-wrapper">
                    <div class="col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-content">
                                <h4>@Model.ParentPnoComplationStatus ning BOM ro'yxati</h4>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="myDataTable" class="table table-bordered" style="width:100%; text-align:center">
                                            <thead>
                                                <tr>
                                                    <th>Detal raqami</th>
                                                    <th>Ishlatilish miqdori</th>
                                                    <th>O'zimizda chiqadimi?</th>
                                                    <th>Normasi holati</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in ViewBag.partList)
                                                {
                                                    var bomItem = bomDictionary.ContainsKey(item.ChildPNo) ? bomDictionary[item.ChildPNo] : null;
                                                    <tr>
                                                        <td>@item.ChildPNo</td>
                                                        <td>@item.Consumption</td>
                                                        @if (item.IsInHouse)
                                                        {
                                                            <td>
                                                                <i class="bx bxs-check-circle"></i>
                                                            </td>
                                                            <td>
                                                                <div>
                                                                    @if (bomItem != null)
                                                                    {
                                                                        <a href="@Url.Action("BomCreateDetails", "BOM", new { id = item.ID })">
                                                                            <i class="bi bi-eye" style="font-size:20px"></i>
                                                                        </a>
                                                                        <a href="@Url.Action("BomCreate", "BOM", new { id = item.ID })">
                                                                            <i class="bx bx-edit-alt"></i>
                                                                        </a>
                                                                        if (item.NormConfirmed == true)
                                                                        {

                                                                            <a href="@Url.Action("#", "#", new { id = item.ID })">
                                                                                <i class="bi bi-check" style="font-size:25px"></i>
                                                                            </a>
                                                                        }

                                                                    }
                                                                    else
                                                                    {
                                                                        <a href="@Url.Action("BomCreate", "BOM", new { id = item.ID })">
                                                                            <i class="bx bx-plus-circle"></i>
                                                                        </a>
                                                                    }
                                                                </div>
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td>
                                                                <i class="bx bxs-x-circle"></i>
                                                            </td>
                                                            <td>
                                                                <i class="bx bx-minus"></i>
                                                            </td>
                                                        }
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        @using (Html.BeginForm("CreateBom", "BOM", FormMethod.Post))
                                        {
                                            @Html.HiddenFor(model => model.ParentPnoComplationStatus);

                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item border-0 pb-0">
                                                    <button class="btn btn-primary btn-block subtotal-preview-btn" name="create" type="submit" value="Create">
                                                        <i class='bx bx-save'></i>
                                                        Saqlash
                                                    </button>
                                                </li>
                                            </ul>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
}
else
{
    Response.Redirect(Url.Action("Index", "ViewNotAuthorized"));
}
