@model tahsinERP.ViewModels.BOMCreateViewModel

@if (tahsinERP.Models.RoleHelper.IsChangePermitted(User.Identity.Name, ViewContext.RouteData.Values["controller"].ToString(), ViewContext.RouteData.Values["action"].ToString()))
{
    <head>
        <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/vendors.min.css">
        <link rel="stylesheet" type="text/css" href="~/app-assets/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="~/app-assets/css/bootstrap-extended.css">
        <link rel="stylesheet" type="text/css" href="~/app-assets/css/colors.css">
        <link rel="stylesheet" type="text/css" href="~/app-assets/css/components.css">
        <link rel="stylesheet" type="text/css" href="~/app-assets/css/themes/dark-layout.css">
        <link rel="stylesheet" type="text/css" href="~/app-assets/css/themes/semi-dark-layout.css">
        <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/menu/menu-types/vertical-menu.css">
        <link rel="stylesheet" type="text/css" href="~/app-assets/css/plugins/forms/wizard.css">
        <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    </head>
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-12 mb-2 mt-1">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb rounded-pill breadcrumb-divider">
                                    <li class="breadcrumb-item">
                                        <a href="~/Home/Index"><i class="bx bx-home-alt"></i></a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="~/BOM/Index">BOM</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        BOM ga mahsulot qo'shish
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <section id="validation">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        @using (Html.BeginForm("CreateWizard", "BOM", FormMethod.Post, new { @class = "wizard-validation , form repeater-default", enctype = "multipart/form-data" }))
                                        {
                                            @Html.HiddenFor(model => model.Product)
                                            if (!string.IsNullOrEmpty(Model.Process))
                                            {
                                                var processNames = Model.Process.Split(new[] { ", " }, StringSplitOptions.RemoveEmptyEntries);
                                                foreach (var processName in processNames)
                                                {
                                                    <h6>
                                                        <i class="step-icon"></i>
                                                        <span>@processName</span>
                                                    </h6>

                                                    switch (processName)
                                                    {
                                                        case "Sliting":
                                                            <fieldset>
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <h6>Ehtiyot qismni tanlang</h6>
                                                                        <fieldset class="invoice-address form-group">
                                                                            @Html.DropDownList("SLITTING_NORMS.PartID_before", (SelectList)ViewBag.Part, "Jarayondan oldingi holatini tanlang", new { @class = "form-control select2" })
                                                                            @Html.ValidationMessageFor(model => model.SLITTING_NORMS.PartID_before, "", new { @class = "text-danger" })
                                                                        </fieldset>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <h6>Ehtiyot qismni tanlang</h6>
                                                                        <fieldset class="invoice-address form-group">
                                                                            @Html.DropDownList("SLITTING_NORMS.PartID_after", (SelectList)ViewBag.Part, "Jarayondan keyingi holatini tanlang", new { @class = "form-control select2" })
                                                                            @Html.ValidationMessageFor(model => model.SLITTING_NORMS.PartID_after, "", new { @class = "text-danger" })
                                                                        </fieldset>
                                                                    </div>
                                                                    <br />
                                                                    <div class="col-md-4">
                                                                        <h6>Kesadigon toshni razmerini kiriting</h6>
                                                                        <fieldset class="invoice-address form-group">
                                                                            @Html.TextBoxFor(model => model.SLITTING_NORMS.CutterWidth, new { @class = "form-control", @placeholder = "Kesadigan tosh razmerini kiriting" })
                                                                            @Html.ValidationMessageFor(model => model.SLITTING_NORMS.CutterWidth, "", new { @class = "text-danger" })
                                                                        </fieldset>
                                                                    </div>
                                                                    <div class="checkbox checkbox-secondary checkbox-glow" style="margin-left:30px">
                                                                        @Html.CheckBoxFor(model => model.SLITTING_NORMS.IsActive, new { @type = "checkbox", @id = "checkboxGlow2" })
                                                                        <label for="checkboxGlow2">Eng oxirgi faolimi?</label>
                                                                        @Html.ValidationMessageFor(model => model.SLITTING_NORMS.IsActive, "", new { @class = "text-warning" })
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            break;

                                                        case "Blanking":
                                                            <fieldset>
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <fieldset class="invoice-address form-group">
                                                                            @Html.DropDownList("BLANKING_NORMS.PartID_after", (SelectList)ViewBag.Part, "Select Part", new { @class = "form-control select2" })
                                                                            @Html.ValidationMessageFor(model => model.BLANKING_NORMS.PartID_after, "", new { @class = "text-danger" })
                                                                        </fieldset>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <fieldset class="invoice-address form-group">
                                                                            @Html.TextBoxFor(model => model.BLANKING_NORMS.Density, new { @class = "form-control", @placeholder = "Density" })
                                                                            @Html.ValidationMessageFor(model => model.BLANKING_NORMS.Density, "", new { @class = "text-danger" })
                                                                        </fieldset>
                                                                    </div>
                                                                    <div class="checkbox checkbox-secondary checkbox-glow" style="margin-left:30px">
                                                                        @Html.CheckBoxFor(model => model.BLANKING_NORMS.IsActive, new { @type = "checkbox", @id = "checkboxGlow2" })
                                                                        <label for="checkboxGlow2">Eng oxirgi faolimi?</label>
                                                                        @Html.ValidationMessageFor(model => model.BLANKING_NORMS.IsActive, "", new { @class = "text-warning" })
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            break;

                                                        case "Stamping":
                                                            <fieldset>
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <fieldset class="invoice-address form-group">
                                                                            @Html.DropDownList("STAMPING_NORMS.PartID_after", (SelectList)ViewBag.Part, "Select Part", new { @class = "form-control select2" })
                                                                            @Html.ValidationMessageFor(model => model.STAMPING_NORMS.PartID_after, "", new { @class = "text-danger" })
                                                                        </fieldset>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <fieldset class="invoice-address form-group">
                                                                            @Html.TextBoxFor(model => model.STAMPING_NORMS.Density, new { @class = "form-control", @placeholder = "Density" })
                                                                            @Html.ValidationMessageFor(model => model.STAMPING_NORMS.Density, "", new { @class = "text-danger" })
                                                                        </fieldset>
                                                                    </div>
                                                                    <div class="checkbox checkbox-secondary checkbox-glow" style="margin-left:30px">
                                                                        @Html.CheckBoxFor(model => model.STAMPING_NORMS.IsActive, new { @type = "checkbox", @id = "checkboxGlow2" })
                                                                        <label for="checkboxGlow2">Eng oxirgi faolimi?</label>
                                                                        @Html.ValidationMessageFor(model => model.STAMPING_NORMS.IsActive, "", new { @class = "text-warning" })
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            break;

                                                        case "Welding":
                                                            <fieldset>
                                                                <div data-repeater-list="WeldingsPartID">
                                                                    <div data-repeater-item>
                                                                        <div class="row justify-content-between">
                                                                            <fieldset class="invoice-address form-group">
                                                                                @Html.DropDownList("Welding_PartID", (SelectList)ViewBag.Part, new { @class = "form-control" })
                                                                                @Html.ValidationMessageFor(model => model.WeldingPart[0].Welding_PartID, "", new { @class = "text-danger" })
                                                                            </fieldset>
                                                                            <div class="col-md-1 col-sm-12 form-group d-flex align-items-center pt-2">
                                                                                <button data-repeater-delete type="button" class="btn btn-danger">Delete</button>
                                                                            </div>
                                                                        </div>
                                                                        <hr>
                                                                    </div>
                                                                </div>
                                                                <button data-repeater-create type="button" class="btn btn-primary">Add New Part</button>
                                                                <br />
                                                                <br />
                                                            </fieldset>
                                                            break;

                                                        case "Assembly":
                                                            <fieldset>
                                                                <div data-repeater-list="WeldingsPartID">
                                                                    <div data-repeater-item>
                                                                        <div class="row justify-content-between">
                                                                            <fieldset class="invoice-address form-group">
                                                                                @Html.DropDownList("Assamble_PartID", (SelectList)ViewBag.Part, new { @class = "form-control" })
                                                                                @Html.ValidationMessageFor(model => model.AssemblyPart[0].Assamble_PartID, "", new { @class = "text-danger" })
                                                                            </fieldset>
                                                                            <div class="col-md-1 col-sm-12 form-group d-flex align-items-center pt-2">
                                                                                <button data-repeater-delete type="button" class="btn btn-danger">Delete</button>
                                                                            </div>
                                                                        </div>
                                                                        <hr>
                                                                    </div>
                                                                </div>
                                                                <button data-repeater-create type="button" class="btn btn-primary">Add New Part</button>
                                                                <br />
                                                                <br />
                                                            </fieldset>
                                                            break;

                                                        case "Painting":
                                                            <fieldset>
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <fieldset class="invoice-address form-group">
                                                                            @Html.DropDownList("PAINTING_NORMS.PartID_after", (SelectList)ViewBag.Part, "Select Part", new { @class = "form-control select2" })
                                                                        </fieldset>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            break;

                                                        default:
                                                            <p>No specific fields for this process.</p>
                                                            break;
                                                    }
                                                }
                                            }
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item border-0 pb-0">
                                                    <button class="btn btn-primary btn-block subtotal-preview-btn" name="create" type="submit" value="Create">
                                                        <i class='bx bx-save'></i>
                                                        Saqlash
                                                    </button>
                                                </li>
                                            </ul>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/app-assets/vendors/js/vendors.min.js"></script>
    <script src="~/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.tools.js"></script>
    <script src="~/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.defaults.js"></script>
    <script src="~/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.min.js"></script>
    <script src="~/app-assets/vendors/js/extensions/jquery.steps.min.js"></script>
    <script src="~/app-assets/vendors/js/forms/validation/jquery.validate.min.js"></script>
    <script src="~/app-assets/js/core/app-menu.js"></script>
    <script src="~/app-assets/js/core/app.js"></script>
    <script src="~/app-assets/js/scripts/components.js"></script>
    <script src="~/app-assets/js/scripts/footer.js"></script>
    <script src="~/app-assets/js/scripts/forms/wizard-steps.js"></script>
    <script src="~/assets/js/jquery.min.js"></script>
}
else
{
    Response.Redirect(Url.Action("Index", "ViewNotAuthorized"));
}
