@model tahsinERP.Models.PRODUCT
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/list/meyer-reset.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/list/style.css">
</head>
<body>
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-12 mb-2 mt-1">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb rounded-pill breadcrumb-divider">
                                    <li class="breadcrumb-item">
                                        <a href="/Home"><i class="bx bx-home-alt"></i></a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="~/BOM">BOM</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        Bir maxsulot BOMi
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <ul class="tree">

                    <!-- Root node (Category) -->
                    <li>
                        <div class="sticky">@Model.PNo</div>
                        @foreach (var item in ViewBag.bomList)
{
                        <ul>
                            <li>
                                <div class="sticky">@item.ChildPNo - @item.ChildUsageQty - @item.ChildUsageUnit</div>
                            </li>
                            <!-- Second level node -->
                            @if(!string.IsNullOrEmpty(item.GrandChildPNo)){
                            <li>
                                <ul>
                                    <li>
                                        <div class="sticky">@item.GrandChildPNo - @item.GrandChildUsageQty - @item.GrandChildUsageUnit</div>
                                    </li>
                                </ul>
                            </li>
                            }
                        </ul>
                        }
                    </li>

                </ul>
            </div>
        </div>
    </div>
</body>