@model  tahsinERP.Models.HSCODE
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (tahsinERP.Models.RoleHelper.IsChangePermitted(User.Identity.Name, ViewContext.RouteData.Values["controller"].ToString(), ViewContext.RouteData.Values["action"].ToString()))
{
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-12 mb-2 mt-1">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb rounded-pill breadcrumb-divider">
                                    <li class="breadcrumb-item">
                                        <a href="~/Home"><i class="bx bx-home-alt"></i></a>
                                    </li>
                                    <li class="breadcrumb-item ">
                                        <a href="~/HSCODE">HSCODE lar</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        HSCODE o'chirish
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="row">
                    <div class="col-xl-9 col-md-8 col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body pb-0 mx-25">
                                    <div class="row invoice-info">
                                        <div class="col-lg-12 col-md-6 mt-25">
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <hr>
                                            <h6 class="invoice-to"></h6>
                                            <fieldset class="invoice-address form-group">
                                                @Html.TextBoxFor(model => model.HSCODE1, new { @class = "form-control round", @placeholder = "HsCODE ni kiriting:" })
                                                @Html.ValidationMessageFor(model => model.HSCODE1, "", new { @class = "text-danger" })
                                            </fieldset>
                                            <h6 class="invoice-to">Batafsil ma`lumot</h6>
                                            <fieldset class="invoice-address form-group">
                                                @Html.TextBoxFor(model => model.Description, new { @class = "form-control round", @placeholder = "qisqacha malumot kiriting:" })
                                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                            </fieldset>
                                        </div>
                                    </div>

                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item border-0 pb-0">
                                            @using (Html.BeginForm("Delete", "HSCODE", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <button class="btn btn-danger bg-light btn-block subtotal-preview-btn" name="delete" type="submit" value="Delete" onclick="return confirm('Ushbu Invoice o\'chirib yuborishga ishonchingiz komilmi?')">
                                                    <i class='bx bx-trash'></i>
                                                    O'chirish
                                                </button>
                                            }
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
else
{
    Response.Redirect(Url.Action("Index", "ViewNotAuthorized"));
}

