@model tahsinERP.ViewModels.POrderViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (tahsinERP.Models.RoleHelper.IsChangePermitted(User.Identity.Name, ViewContext.RouteData.Values["controller"].ToString(), ViewContext.RouteData.Values["action"].ToString()))
{
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-12 mb-2 mt-1">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb rounded-pill breadcrumb-divider">
                                    <li class="breadcrumb-item">
                                        <a href="~/Home"><i class="bx bx-home-alt"></i></a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="~/POrder/Index">Buyurtmalar</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        Buyurtma yaratish
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <section id="form-repeater-wrapper">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        @using (Html.BeginForm("Create", "POrder", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form repeater-default" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                            <div class="row justify-content-around d-flex align-items-start">
                                                @*Left Part*@
                                                <div class="col-lg-6 col-sm-12">
                                                    <div class="row">
                                                        <div class="col-md-6 col-12 form-group">
                                                            <label for="OrderNo">Buyurtma raqam</label>
                                                            @Html.TextBoxFor(model => model.OrderNo, new { @type = "text", @class = "form-control", id = "OrderNo" })
                                                            @Html.ValidationMessageFor(model => model.OrderNo, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-md-6 col-12 form-group">
                                                            <label for="SupplierID">Ta`minotchi</label>
                                                            @Html.DropDownListFor(model => model.SupplierID, (SelectList)ViewBag.Supplier, new { @class = "form-control", id = "SupplierID", onchange = "refreshdatatablesupplier()" })
                                                            @Html.ValidationMessageFor(model => model.SupplierID, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-md-6 col-12 form-group">
                                                            <label for="ContractID">Shartnoma raqami</label>
                                                            @Html.DropDownListFor(model => model.ContractID, (SelectList)ViewBag.PContract, new { @class = "form-control", id = "ContractID" })
                                                            @Html.ValidationMessageFor(model => model.ContractID, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                                @*Right Part*@
                                                <div class="col-lg-6 col-sm-12">
                                                    <div class="row">
                                                        <div class="col-md-6 col-12 form-group">
                                                            <label for="Currency">Valyuta</label>
                                                            @Html.TextBoxFor(model => model.Currency, new { @type = "text", @class = "form-control", id = "Currency" })
                                                            @Html.ValidationMessageFor(model => model.Currency, "", new { @class = "text-danger" })
                                                        </div>

                                                        <div class="col-md-6 col-12 form-group">
                                                            <label for="Description">Qisqacha tavsifi</label>
                                                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", id = "Description" })
                                                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-md-6 col-12 form-group">
                                                            <h6 class="invoice-to">Buyurtma berilgan sanasi</h6>
                                                            @Html.TextBoxFor(model => model.IssuedDate, new { @class = "form-control pickadate-months-year round", @placeholder = "Shartnoma tuzilgan sanasi", id = "IssuedDate" })
                                                            @Html.ValidationMessageFor(model => model.IssuedDate, "", new { @class = "text-danger" })
                                                            <div class="form-control-position">
                                                                <i class='bx bx-calendar'></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <br />
                                            <h4>Ehtiyot qismlar</h4>
                                            <div data-repeater-list="Parts">
                                                <div data-repeater-item>
                                                    <div class="row justify-content-between">
                                                        <input type="hidden" name="ID" />
                                                        <div class="col-md-2 col-sm-12 form-group">
                                                            <label for="Part_PartID">Ehtiyot qismni tanlang</label>
                                                            @Html.DropDownList("PartID", (SelectList)ViewBag.partList, new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.Parts[0].PartID, "", new { @class = "text-danger" })
                                                        </div>@*
                                                            <div class="col-md-2 col-sm-12 form-group">
                                                                <label for="Part_Unit">Birligi</label>
                                                                @Html.DropDownList("UnitID", (SelectList)ViewBag.units, new { @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.Parts[0].UnitID, "", new { @class = "text-danger" })
                                                            </div>*@
                                                        <div class="col-md-2 col-sm-12 form-group">
                                                            <label for="Part_Unit">Birligi</label>
                                                            @Html.DropDownList("UnitID", (SelectList)ViewBag.units, new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.Parts[0].UnitID, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-md-2 col-sm-12 form-group">
                                                            <label for="Part_Amount">Miqdori</label>
                                                            <input type="number" name="Amount" class="form-control" id="Part_Amount" />
                                                            @Html.ValidationMessageFor(model => model.Parts[0].Amount, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-md-2 col-sm-12 form-group">
                                                            <label for="Part_Price">Narx</label>
                                                            <input type="number" name="Price" step="0.01" class="form-control" id="Part_Price" />
                                                            @Html.ValidationMessageFor(model => model.Parts[0].Price, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-md-2 col-sm-12 form-group">
                                                            <label for="Part_MOQ">MOQ</label>
                                                            <input type="text" name="MOQ" class="form-control" id="Part_MOQ" />
                                                            @Html.ValidationMessageFor(model => model.Parts[0].MOQ, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-md-1 col-sm-12 form-group d-flex align-items-center pt-2">
                                                            <button data-repeater-delete type="button" class="btn btn-danger">O'chirish</button>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                </div>
                                            </div>
                                            <button data-repeater-create type="button" class="btn btn-primary">Yangi detal qo'shish</button>

                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item border-0 pb-0">
                                                    <button class="btn btn-primary btn-block subtotal-preview-btn" name="create" type="submit" value="Create">
                                                        <i class='bx bx-save'></i> Saqlash
                                                    </button>
                                                </li>
                                            </ul>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    function refreshdatatablesupplier() {
        const supplierID = document.getElementById("SupplierID").value;
        $.ajax({
            url: '@Url.Action("GetContractsBySupplier", "POrder")',
            type: 'GET',
            data: { supplierID: supplierID },
            success: function (data) {
                var contractDropdown = $("#ContractID");
                contractDropdown.empty();
                $.each(data, function (index, item) {
                    contractDropdown.append(new Option(item.Text, item.Value));
                });
            },
            error: function (xhr, status, error) {
                console.error("Error fetching contracts:", error);
            }
        });
    }
    </script>
}
else
{
    Response.Redirect(Url.Action("Index", "ViewNotAuthorized"));
}
