@model List<tahsinERP.Models.TRACING>

@{
    ViewBag.Title = "Tracing Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (tahsinERP.Models.RoleHelper.IsViewPermitted(User.Identity.Name, ViewContext.RouteData.Values["controller"].ToString(), ViewContext.RouteData.Values["action"].ToString()))
{
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-12 mb-2 mt-1">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb rounded-pill breadcrumb-divider">
                                    <li class="breadcrumb-item">
                                        <a href="~/Home"><i class="bx bx-home-alt"></i></a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="~/Tracing/Index">Tracing</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        Tracing Details
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="row">
                    <div class="col-xl-9 col-md-8 col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body pb-0 mx-25">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-6 mt-25">
                                            <h4 class="text-primary">Tracing malumotlari</h4>
                                            <div class="wizard-container">
                                                <div class="wizard-header">
                                                    @foreach (var item in Model)
                                                    {
                                                        <div class="step @((item.IssueDateTime == Model.Last().IssueDateTime && item.ActualDistanceToDestination == 0) ? "completed" : "")">
                                                            <div class="circle">
                                                                @(Model.IndexOf(item) + 1)
                                                            </div>
                                                            <div class="label">
                                                                <div class="date">@item.IssueDateTime.ToString("dd.MM.yyyy")</div>
                                                                <div class="location">@item.ActualLocation.ToUpper()</div>
                                                                <div class="distance">@item.ActualDistanceToDestination KM</div>
                                                                <div class="distance">ETA: @item.ETA.ToString("dd.MM.yyyy")</div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                                <div class="progress-container">
                                                    <div class="progress-bar" id="progress"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .wizard-container {
            position: relative;
            padding: 20px;
        }

        .wizard-header {
            display: flex;
            justify-content: space-between;
            position: relative;
        }

        .step {
            text-align: center;
            position: relative;
            z-index: 1;
            display: inline-block;
            width: calc(100% / @(Model.Count));
        }

        .circle {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #bbb;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            font-weight: bold;
        }

        .step.completed .circle {
            background-color: green;
        }

        .label {
            margin-top: 10px;
            font-size: 14px;
        }

        .progress-container {
            position: absolute;
            top: 15px;
            left: 0;
            right: 0;
            height: 2px;
            background-color: #bbb;
            z-index: 0;
        }

        .progress-bar {
            height: 2px;
            background-color: green;
            width: 0;
        }

        .date {
            font-size: 12px;
            color: gray;
        }

        .location {
            font-weight: bold;
        }

        .distance {
            font-size: 12px;
            color: gray;
        }

        .progress-bar.dashed {
            background: repeating-linear-gradient(
                to right,
                green 0%,
                green 10%,
                transparent 10%,
                transparent 20%
            );
        }
    </style>

    <script>
        $(document).ready(function () {
            var steps = $('.step');
            var totalSteps = steps.length;

            var progressWidth = ($('.step.completed').length / totalSteps) * 100;

            $('#progress').css('width', progressWidth + '%');
            $('#progress').toggleClass('dashed', progressWidth < 100);
        });
    </script>
}
else
{
    Response.Redirect(Url.Action("Index", "ViewNotAuthorized"));
}
