@model tahsinERP.Models.TRACING

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (tahsinERP.Models.RoleHelper.IsViewPermitted(User.Identity.Name, ViewContext.RouteData.Values["controller"].ToString(), ViewContext.RouteData.Values["action"].ToString()))
{
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-12 mb-2 mt-1">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb rounded-pill breadcrumb-divider">
                                    <li class="breadcrumb-item">
                                        <a href="~/Home"><i class="bx bx-home-alt"></i></a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="~/Tracing/Index">Tracing lar</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        Tracing sahifasi
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="row">
                    <div class="col-xl-9 col-md-8 col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body pb-0 mx-25">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-6 mt-25">

                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                            <h4 class="text-primary">Tracing malumotlari</h4>
                                            <hr>

                                            <div class="row my-2 py-50">
                                                <div class="col-sm-6 col-12 order-2 order-sm-1">
                                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                    <h4 class="text-primary">Tracing ma'lumotlari</h4>
                                                    <br />
                                                    <hr />
                                                    <span><b>PackingList raqami</b>: @Html.DisplayFor(model => model.P_INVOICE_PACKINGLISTS.PackingListNo)</span>
                                                    <br />
                                                    <hr />
                                                    <span><b>Hozirgi manzil</b>: @Html.DisplayFor(model => model.ActualLocation)</span>
                                                    <br />
                                                    <hr />
                                                    <span><b>Manzilgacha</b>: @Html.DisplayFor(model => model.ActualDistanceToDestination)</span>
                                                    <br />
                                                    <hr />
                                                    <span><b>Chiqish sanasi</b>: @Html.DisplayFor(model => model.IssueDateTime.ToString("dd.MM.yyyy"))</span>
                                                    <br />
                                                    <br />
                                                    <span><b>Taxminiy kelish sanasi</b>: @Html.DisplayFor(model => model.ETA.ToString("dd.MM.yyyy"))</span>
                                                    <br />
                                                    <br />
                                                    <span><b>Komment</b>: @Html.DisplayFor(model => model.Comment)</span>
                                                    <br />
                                                    <br />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    Response.Redirect(Url.Action("Index", "ViewNotAuthorized"));
}
